<div class="login-container">
    <h1 class="header">Your Car Your Way</h1>

    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <label class="login-label" for="email">E-mail</label>
        <input class="login-input" type="text" id="email" name="email" autocomplete="username" formControlName="email"
            required>
        <label class="login-label" for="password">Mot de passe</label>
        <input class="login-input" type="password" id="password" name="password" autocomplete="current-password"
            formControlName="password" required>

        <button class="login-btn" type="submit" [disabled]="loginForm.invalid">Se connecter</button>
    </form>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

</div>