<div class="home-container">
    <h1>Your Car Your Way</h1>

    <h2>Bonjour {{userInfo.firstName}} {{userInfo.lastName}}</h2>

    <div *ngIf="userInfo.role === 'CUSTOMER'">
        <button (click)="startChat()">Contacter le support</button>
    </div>

    <div *ngIf="userInfo.role === 'CUSTOMER_SERVICE'">
        <p>Voici les chats en cours: </p>

        <ul *ngIf="activeChats.length > 0 ; else noChats">
            <li *ngFor="let chat of activeChats">
                Chat # {{chat.id }} - Client: {{chat.customer}} - Date: {{chat.createdAt}}
                <button (click)="openChat(chat.id)">Rejoindre</button>
            </li>
        </ul>
        <ng-template #noChats>
            <p>Aucun chat actif pour le moment.</p>
        </ng-template>
    </div>




</div>