<div class="home-container">

    <h1 class="header">Your Car Your Way</h1>

    <h2 class="home-greeting">Bonjour {{userInfo.firstName}} {{userInfo.lastName}}</h2>

    <div class="customer-container" *ngIf="userInfo.role === 'CUSTOMER'">
        <button class="customer-btn" (click)="startChat()">Contacter le support</button>
    </div>

    <div class="support-container" *ngIf="userInfo.role === 'SUPPORT'">
        <p class="bold">Chats en cours: </p>

        <ul class="chats" *ngIf="activeChats.length > 0 ; else noChats">
            <li *ngFor="let chat of activeChats">
                # {{chat.id }} - {{ chat.createdAt | date: 'd/MM/yyyy, à HH:mm'}}
                <button class="join-btn" (click)="openChat(chat.id)">Rejoindre</button>
            </li>
        </ul>
        <ng-template #noChats>
            <p>Aucun chat actif pour le moment.</p>
        </ng-template>
    </div>




</div>